.sel-params {
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}

.sel-params small {
    font: bold 10px/25px Arial;
}

.sel-params .right-clnm {
    float: left;
    position: relative;
    width: 270px;
}

.sel-params .left-clmn.nb {
    background: none;
}

.sel-params .left-clmn.brands {
    width: 240px;
}

.sel-params .left-clmn.brands strong {
    display: block;
    padding-left: 20px;
}

.sel-params .left-clmn.brands .cbokses {
    display: block;
    padding-left: 20px;
}

.sel-params .cbokses label {
    color: #0024BB;
    float: left;
    margin: 4px 0;
    padding-left: 20px;
    width: 92px;
}

.sel-par-item {
}

.sel-par-item:last-child {
    border: none;
}

.sel-par-item .line-f {
    color: #222;
    font: 12px/13px Arial;
    white-space: nowrap;
    margin: 6px 0 0px;
    padding: 0px 0px 0px 0px;
    position: relative;
}

.sel-par-item .line-b {
    font: 10px/12px Arial;
    margin: 2px 0px 0px;
    text-align: right;
}

.sel-par-item .line-b a {
    color: #034b83;
    font-weight: normal;
    text-decoration: none;
}

.sel-par-item .line-b a:hover {
    text-decoration: underline;
}

.sel-par-item2 {
    vertical-align: top;
    padding-right: 20px;
}

.sel-par-item2 .line-b {
    font: 10px/12px Arial;
    margin: 2px 0px 0px;
}

.sel-par-item2 .line-b a {
    color: #034b83;
    font-weight: normal;
    text-decoration: none;
}

.sel-par-item2 .line-b a:hover {
    text-decoration: underline;
}

.sel-params .sel-par-item2 select {
    width: 250px;
    padding: 2px 0px 2px 5px;
}

.sel-par-item2 .line-b {
    padding-left: 10px;
}

.sel-params .sep {
    width: 100%;
    height: 1px;
    border-top: 1px solid #d6d5d5;
    margin: 4px 0px;
    clear: both;
}

.sel-params .submit {
    padding: 10px;
    text-align: center;
}

.sel-par-item .label,
.sel-par-item .elems {
    position: relative;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

.sel-par-item .label {
    margin: 0px 0px 0px 5px;
    padding: 3px 0px 0px;
    width: 135px;
    white-space: normal;
}

.sel-par-item .label.t-2 {
    text-indent: 20px;
}

.sel-par-item .elems {
}

.sel-params select, .sel-params input.text {
    background: #fff;
    border: 1px solid #a5acb2;
    color: #222;
    font: 12px Arial;
}

.sel-params select {
    width: 140px;
}

.sel-params input.text {
    padding: 1px 4px;
    width: 140px;
}

.sel-params input.num {
    width: 30px;
    margin: 0px 3px 0px 3px;
}

.sel-params input.num2 {
    width: 36px;
    margin: 0px 3px 0px 3px;
}

.sel-params {
}

.que {
    background: url('../images/que.png') no-repeat 0px 0px;
    width: 32px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    top: 4px;
    left: 0px;
    display: block;
    white-space: normal;
}

.que .pop {
    display: none;
    background: url('../images/wh-op-1px.png') repeat;
    border: 1px solid #6e6b6b;
    width: 270px;
    position: absolute;
    top: 6px;
    left: 18px;
    padding: 10px 8px 13px 15px;
    z-index: 100;
    color: #000;
    font: 12px/16px Arial;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.que.ins .pop {
    left: auto;
    right: 18px;
}

.que:hover .pop {
    display: block;
}

.quick-sel {
    padding: 5px 0px;
}

.quick-sel .title {
    font: bold 12px/13px Arial;
    margin: 0px 0px;
    text-transform: none;
}

.quick-sel .lft-clmn {
    float: left;
    position: relative;
    width: 122px;
}

.quick-sel .cnt-clmn {
    margin: 0px 0px 0px 123px;
    color: #0024BB;
}

.quick-sel a {
    color: #0024BB;
    margin-left: 40px;
    text-decoration: none;
}

.quick-sel a.act, .quick-sel a:hover {
    text-decoration: underline;
}

.attr_png {
    position: relative;
    float: left;
}

.attr_png:hover .attr_desc {
    display: block;
}

.attr_png .attr_desc {
    width: 300px;
    display: none;
    background-color: #FFFCEB;
    position: absolute;
    top: 6px;
    padding: 15px 10px 25px 20px;
    z-index: 100;
    color: #000;
    font: 12px/14px Arial;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #FF9999;
}